{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>HomeLife</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}" type="text/css">
</head>


<b>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="main-menu">

                            <ul>

                                <li> <a href="#" class="partner-logo">
                                    <div class="partner-logo-tablecell">
                                        <img src="{% static 'user/img/partner/partner-2.png' %}" alt="">
                                    </div>
                                </a>
                                <li><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
                                <li><a href="{% url 'property_types' %}">Properties</a></li>
                                <li><a href="{% url 'add_properties_rent' %}">Add Properties</a></li>
                                <li  class="active"><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'feedback' %}">Feedback</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="top-right mt-2">
                            <div class="language-option">
                               
                                <span>MY ACCOUNTS</span>
                                <i class="fa fa-angle-down"></i>
                                <div class="flag-dropdown">
                                    <ul>
                                        
                                        <li><a href="{% url 'my_properties' %}">My Properties</a></li>
                                        <li><a href="{% url 'my_properties_status' %}">My Property Status</a></li>
                                        <li><a href="{% url 'appointment' %}">Appointments</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <a href="{% url 'home' %}" class="property-sub">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section contact-page " style="background-color:black">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-text">
                            <h2>My Profile</h2>
                            <div class="breadcrumb-option">
                                <a href="#"><i class="fa fa-home"></i>User</a>
                                <span>Profile</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section Begin -->


        </div>
    </header>
    <!-- Header End -->

  <!-- Main -->

  <div class="container">
    <div class="row mt-5"  >
        <div class="col-md-12">
     <div class="row">
         
         <div class="col-xl-4">
             <!-- Profile picture card-->
             <div class="card mb-4 mb-xl-0">
                 <div class="card-header">Profile Picture</div>
                 <div class="card-body text-center">
                     <!-- Profile picture image-->
                     
                      <!-- Profile picture image-->
                         
                      <img class="img-account-profile rounded-circle mb-2" style="height:200px; width:200px;" src="/media/{{data.user_image}}" alt="">
                      <!-- Profile picture help block-->
                      <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                      <!-- Profile picture upload button-->
                     
                  </div>
              </div>
          </div>
          <div class="col-xl-8">
              <!-- Account details card-->
              <div class="card mb-4">
                  <div class="card-header">Account Details</div>
                  <div class="card-body">
                      <form method='post' enctype="multipart/form-data">
                         {% csrf_token %} 
                          <!-- Form Group (username)-->



                         
                          
                          <div class="mb-3">
                              <label class="small mb-1" for="inputUsername"> Username </label>
                              <input class="form-control" id="inputUsername" type="text" name='user_name' value={{data.user_name}}>
                          </div>
                            
                          <!-- Form Group (email address)-->
                          <div class="mb-3">
                              <label class="small mb-1" for="inputEmailAddress">Email address</label>
                              <input class="form-control" id="inputEmailAddress" type="email" name='email' value={{data.email}}  ></input>
                          </div>
                          <!-- Form Row-->
                         
                              <!-- Form Group (phone number)-->
                              <div class="mb-3">
                                  <label class="small mb-1" for="inputPhone">Phone number</label>
                                  <input class="form-control" id="inputPhone" type="tel" name='mobile' value={{data.mobile}}>
                              </div>
                              <!-- Form Group (birthday)-->
                              <div class="mb-3">
                                  <label class="small mb-1" for="inputBirthday">Date of Birth</label>
                                  <input class="form-control" id="inputBirthday" type="text" name="dob" value={{data.dob | date:'Y-m-d'}}
                                  
                                  placeholder="Date of birth">
                              </div>
                             

                              <div class="mb-3">
                                 <label class="small mb-1" for="inputLocation">Location</label>
                                 <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" name='location' value={{data.location}}>
                             </div>
                        
                             <input class="btn btn-primary small" name="user_image"  type="file" ></input>
                         
                          
                          <!-- Save changes button-->
                          <button class="btn btn-primary" href="#" type="submit">Update</button>

                         </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
       </div>
<!-- /profile end -->







 <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="{% static 'user/img/footer-bg.jpg' %}">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src=""><h3 style="color:skyblue">HomeLife</h3></a>
                            </div>
                            <p>Count on us and find your dream properties today</p>
                            <form action="#" class="newslatter-form">
                                <input type="text" placeholder="Enter your email...">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="footer-widget">
                            <h4>Property City</h4>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Hyderabad</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Chennai</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Vizag</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Bangalore</a></li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Tirpati</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Kerala</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Maharastra</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Nellore</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h4>Social</h4>
                            <ul class="social">
                                <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                                <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                                <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                                <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Contact Us</h4>
                            <ul class="contact-option">
                                <li><i class="fa fa-map-marker"></i>Hyderabad,Pin Code:500074. T.S.</li>

                                <li><i class="fa fa-phone"></i> 8555887986</li>
                                <li><i class="fa fa-envelope"></i> info@codebook.in</li>
                                <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-text">
                <p>
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Designed & Developed by FZ INFOTECH
                    <i class="ti-heart" aria-hidden="true"></i> <a href="https://colorlib.com"
                        target="_blank"></a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'user/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/js/main.js' %}"></script>
</body>

</html>