
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>HomeLife</title>
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center mb-1" >
          <a style="text-decoration:none;" class="sidebar-brand brand-logo" href="{% url 'admin_dashboard' %}"><h3>HomeLife</h3></a>
         
        </div>
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image mb-5">
                <img style="width:50px; height:50px;" src="{% static 'admin/images/faces/face1.jpg' %}" alt="profile" />
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column pr-3">
                <span class="font-weight-medium mb-2">Administrator</span>
              
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_dashboard' %}">
             <img style="height:15px;width:15px;" class="mr-2" src="{% static 'user/icon/dashboard (1).png' %}">
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_view_users' %}">
              <img style="height:15px;width:15px;" class="mr-2" src="{% static 'user/icon/group.png' %}">
              <span class="menu-title">Users</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_view_properties' %}">
              <img style="height:15px;width:15px;" class="mr-2" src="{% static 'user/icon/homeicon4.png' %}">
              <span class="menu-title">Properties</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_view_bookings' %}">
              <img style="height:15px;width:15px;" class="mr-2" src="{% static 'user/icon/booking.png' %}">
              <span class="menu-title">Bookings</span>
            </a>
          </li>
         

          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_view_feedbacks' %}">
              <img style="height:15px;width:15px;" class="mr-2" src="{% static 'user/icon/feedback (1).png' %}">
              <span class="menu-title">Feedbacks</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="#"><img src="{% static 'user/images/logo-mini.svg' %}" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
               
                 
              
              <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                <form class="nav-link form-inline mt-2 mt-md-0"  method ="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="search" name="search" class="form-control" placeholder="Search" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
              <li class="nav-item dropdown d-none d-xl-flex border-0">
               
                  <i class="mdi mdi-earth"></i> English </a>
            
              </li>
              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img style="width:50px; height:50px;" src="{% static 'admin/images/faces/face1.jpg' %}" alt="profile" />
                  <span class="profile-name">Administrator</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                 
                  <a class="dropdown-item" href="{% url 'home'%}">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Logout </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper pb-0">
          

         

            <!-- customers -->
 
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Users</h4>
                 
                  <div class="table-responsive">
                    <table class="table table-hover" >
                      <thead>
                        <tr style="background-color:skyblue">
                          <th>User Id</th>
                          <th>User Image</th>
                          <th>User Name</th>
                          <th>Email</th>
                          <th>Mobile No</th>
                          <th>Location</th>
                          <th>reg date</th>
                          
                         
                        </tr>
                      </thead>
                      <tbody>
                        {% for u in data %}
                        <tr>
                          <td>{{u.user_id}}</td>
                          <td class="py-1">
                            <img style="width:50px; height:50px;" src="/media/{{u.user_image}}" alt="image" />
                          </td>
                          <td>{{u.user_name}}</td>
                         
                          <td>{{u.email}}</td>
                          <td>{{u.mobile}}</td>
                          <td>{{u.location}}</td>
                          <td>{{u.reg_date}}</td>
                        </tr>
                       
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
<!-- /customers -->

           
          
         
<!-- footer -->
 <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2022, All rights reserved | </span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a href="https://www.bootstrapdash.com/" target="_blank"></a>Designed & Developed by FZ INFOTECH</span>
            </div>
          </footer>
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.pie.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'admin/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>